body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f8f5f0; /* кремовый фон */
    line-height: 1.6;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #3a5a40; /* темно-зеленый фон */
    color: #f8f5f0; /* кремовый текст */
    padding: 2rem 0;
    border-radius: 0 0 10px 10px;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
    font-weight: normal;
}

nav {
    background-color: #d3cbc0; /* бежевый фон */
    color: #333;
    padding: 1rem 0;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem 1rem;
    margin: 1rem auto;
    background-color: #fff; /* белый фон */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    border-radius: 10px;
    flex: 1;
}

section h2 {
    margin-top: 0;
    color: #3a5a40; /* темно-зеленый заголовок */
}

footer {
    background-color: #3a5a40; /* темно-зеленый фон */
    color: #f8f5f0; /* кремовый текст */
    padding: 1rem 0;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

footer p {
    margin: 0;
}
